
build.bat
pydesy_tests.py
setup.cfg
setup.py
dist/pydesy-0.0.5.1.tar.gz
pydesy.egg-info/dependency_links.txt
pydesy.egg-info/not-zip-safe
pydesy.egg-info/PKG-INFO
pydesy.egg-info/requires.txt
pydesy.egg-info/SOURCES.txt
pydesy.egg-info/top_level.txt
pydesy/__pycache__/__init__.cpython-39.pyc
pydesy/__pycache__/applied.cpython-39.pyc
pydesy/__pycache__/basic.cpython-39.pyc
pydesy/__pycache__/courses.cpython-39.pyc
pydesy/__pycache__/format.cpython-39.pyc
pydesy/__pycache__/geometry.cpython-39.pyc
pydesy/__pycache__/gmath.cpython-39.pyc
pydesy/__pycache__/higher.cpython-39.pyc
pydesy/__pycache__/serifs.cpython-39.pyc
